body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  border: 1px solid red;
  width: 360px;
  height: 712px;
  margin: auto;
}
#profile {
  text-align: center;
}

#profile img {
  width: 112px;
  height: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
